<div class="mainpage_container">
  <div class="textarea_container">
    <label for="story">Show me you JSON:</label>

    <textarea id="json" name="json" rows="2" cols="auto" (keyup.enter)="onEnter()" >
    
    </textarea>
    <div class="buttons_container">
      <button (click)="minusclick()">-</button>
      <button (click)="submitJSON()">Submit</button>
      <button (click)="plusclick()">+</button>
    </div>
  </div>

  <app-formatter class="formater_container" [data]="jsonObj" [expandZoom]="zoom"></app-formatter>
  <a href="#top">&#8679;</a>
</div>